<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Film Manager | Alquileres</title>
</h:head>
<h:body>

<h:form>  
    <p:growl id="messages"/>
 
    <p:menubar style="width:80%; margin: auto;">
        <p:submenu label="Prestamo" icon="ui-icon-document">
            <p:menuitem value="Devolver" onclick="PF('dlg1').show();" />
            <p:separator />
            <p:menuitem value="Salir" url="socio.jsf" icon="ui-icon-close"/>
        </p:submenu>
 
 
        <p:menuitem value="Salir" url="socio.jsf" icon="ui-icon-close" />
 
    </p:menubar>
</h:form>

<p:panel header="Socio: #{socioMB.socio.nombre}" style="width:80%; margin: auto;" >
			<h:panelGrid columns="4">
	<h:form>
		<h:outputText value="DVDs Alquilados : "></h:outputText>
		<p:dataTable id="alquileres" var="alquileres"
			value="#{alquilerMB.alquilerList}" style="width: 95%">
			<p:column>
				<f:facet name="header">
					<h:outputText value="fecha adquisición" />
				</f:facet>
				<h:outputText value="#{alquileres.fechaPrestamo}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="DVD" />
				</f:facet>
				<h:outputText value="#{alquileres.disco.film.titulo}" />
			</p:column>

		</p:dataTable>
	</h:form>
	<h:form>
		<h:outputLabel for="socio" value="numero de disco" />
				<p:inputText id="socio" value="#{alquilerMB.disco.id}">

				</p:inputText>

				<p:commandButton id="alquilar" value="Alquilar"
					action="#{alquilerMB.alquilar}" ajax="false" />
	</h:form>
<p:dialog header="Devolución" widgetVar="dlg1" minHeight="40">
	<h:form>
	<h:outputText value="Código DVD" />
	<p:inputText id="devolucion" value="#{alquilerMB.disco.id}" />
	<p:commandButton id="alquilar" value="Devolver"
					action="#{alquilerMB.devolver}" ajax="false" />
	</h:form>
</p:dialog>
	</h:panelGrid>
	</p:panel>
</h:body>

</html>