<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Film Manager | nuevo socio</title>
</h:head>
<h:body>

	<h:form>
		<p:panel header="Registrar Socio" style="width:70%; margin: auto;" >
			<h:panelGrid columns="2">

				<h:outputLabel for="nombre" value="Nombre:" />
				<p:inputText id="nombre" value="#{socioMB.socio.nombre}" />
				<h:outputLabel for="apellido" value="Apellido:" />
				<p:inputText id="apellido" value="#{socioMB.socio.apellido}" />
				<h:outputLabel for="dni" value="DNI:" />
				<p:inputText id="dni" value="#{socioMB.socio.dni}" />
				<h:outputLabel for="fecha_nac" value="Fecha de nacimiento:" />
				<p:inputText id="fecha_nac" value="#{socioMB.socio.fechaNacimiento}" />
				<h:outputLabel for="sexo" value="Sexo:" />
				<p:inputText id="sexo" value="#{socioMB.socio.sexo}" />
				<h:outputLabel for="direccion" value="Direccion:" />
				<p:inputText id="direccion" value="#{socioMB.socio.direccion}" />
				<h:outputLabel for="fono" value="Fono:" />
				<p:inputText id="fono" value="#{socioMB.socio.fono}" />
				<h:outputText />
				
				<p:commandButton id="addSocio" value="Registrar"
					action="#{socioMB.addSocio}" ajax="false" />
			</h:panelGrid>
		</p:panel>
	</h:form>
</h:body>
</html>