<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Film Manager</title>
</h:head>
<h:body>
	<h:form>
		<p:growl id="messages" />

		<p:menubar style="width:80%; margin: auto;">
			<p:submenu label="Archivo" icon="ui-icon-document">
				<p:menuitem value="Agregar Socio" url="registrosocio.jsf" />
				<p:separator />

				<p:menuitem value="Salir" url="#" icon="ui-icon-close" />
			</p:submenu>


			<p:menuitem value="Salir" url="socio.jsf" icon="ui-icon-close" />

		</p:menubar>
	</h:form>
	<h:form>
		<p:panel header="Socio?"
			style="width:80%; margin: auto; height:30em; ">
			
			<h:panelGrid columns="3" cellpadding="10" style="margin:0 auto;">

				<h:outputLabel />	
				<img src="https://dl.dropboxusercontent.com/u/49848892/filmmanager3.svg" height="200em" />
				<h:outputLabel />
				<h:outputLabel />					
				<h:panelGrid columns="3">
						<h1 align="center" style="color: olive;">SOCIO</h1>
						<p:inputText id="socio" value="#{socioMB.socio.id}">
							<p:watermark value="ingrese id socio" for="socio" id="water" />
						</p:inputText>

						<p:commandButton id="loadSocio" value="Aceptar" action="#{socioMB.loadSocio}" ajax="false" />
				
				</h:panelGrid>
				

			</h:panelGrid>
		</p:panel>
	</h:form>
</h:body>
</html>